.search-box {
  background: #F44336;
  width: 60px;
  cursor: pointer;
  height: inherit;
  border-radius: 40px;
  transition: .3s;
  padding: 10px;
  &:hover {
    background: #2f3640;
    width: inherit;
    > .search-text {
      width: 100%;
      padding: 0 20px;
    }
    > .search-btn {
      background: #ffffff;
      color: #000000;
    }
  }
  .search-btn {
    color: #ffffff;
    width: 40px;
    height: 40px;
    background: #F44336;
    transition: 0.4s;
    cursor: pointer;
    > i {
      font-size: 20px;
    }
  }
  .search-text {
    background: none;
    outline: none;
    transition: 0.4s;
    line-height: 60px;
    width: 0px;
    &::placeholder {
      color: #ccc;
      padding-left: 5px;
    }
  }
}
