.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
.skeleton-text {
  width: 50%;
  height: 1rem;
  margin: 0 auto;
  margin-bottom: .75rem;
  border-radius: 0.125rem;
 
  &:first-child {
    width: 80%;
    margin: 1rem auto;
  }
  &:nth-last-child(2){
    margin-bottom: 0;
    width: 10%;
    display: inline-block;
  }
  &:last-child {
      margin-bottom: 0;
      width: 10%;
      display: inline-block;
  }
  
}
