@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
// components
@import "searchBox";
@import "pulse";
@import "skeletonLoad";
// body.swal2-height-auto

body {

  background: #232323;
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: grayscale(28%) blur(2px);
  &.swal2-height-auto{
    height: 100vh!important;
  }
}

nav{
    height: 60px;
}

main{
  font-family: 'Lilita One', cursive;
  border-radius: 13px;
  background-color: #2f3640e1;
  #name{
    font-size: 4rem;
  }
  #location{
    font-size: 35px;
  }
  #date{
    font-size: 18px;
  }
  #temperature{
    font-size: 5rem;
  }
  #state{
    font-size: 2.4rem;
  }
  &:last-child{
    font-size: 25px;
  }
}

.swal2-container{
  height: 100vh!important;
}