template#main_template 
    p#location Northampton, GB
    p#date Thursday 10 January 2020
    h1#temperature 15℃
    h3#state Sunny
    p.mt-3
        span#low_temp 13℃
        |  / 
        span#high_temp 16℃